---
import { getSiteCopy, siteConfig } from "../data/site";
import { DEFAULT_LOCALE, getLocalizedPath } from "../lib/i18n";

const redirectTarget = getLocalizedPath(DEFAULT_LOCALE, "home");
const siteCopy = getSiteCopy(DEFAULT_LOCALE);
---
<!doctype html>
<html lang={siteCopy.lang}>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content={`0;url=${redirectTarget}`} />
    <meta name="robots" content="noindex" />
    <link rel="canonical" href={new URL(redirectTarget, siteConfig.url).toString()} />
    <title>{siteCopy.title}</title>
  </head>
  <body>
    <p>{siteCopy.redirectMessage}</p>
    <p>
      <a href={redirectTarget}>{siteCopy.redirectCtaLabel}</a>
    </p>
  </body>
</html>
